<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Whack</title>
</head>
<body class="text-center">
    <div id="app" >
        <div class="setScreenWidth bg-white p-2 flex justify-between items-center h-12">
            <p>Score: {{ score }}</p>
            <button v-if="gameState === 'running'" class="bg-gray-200 py-1 px-4" @click="pauseGame()">
                <span>Pause</span>
            </button>
        </div>


        <div v-if="gameState === 'unstarted'">
            <h1 class="text-6xl text-center my-6">Whack-A-Mole</h1>
            <p class="text-2xl text-center py-4" @click='startGame()'>Start Game</p>
            <p class="text-2xl text-center py-4" @click='loadGame()'>Load Game</p>
        </div>

        <div v-if="gameState === 'running'" class="setScreenWidth flex bg-green-500 grassHeight">
            <div class="self-center text-center">
                <div v-for="(isVisible, index) in arrayOfMoles"  class="relative inline-block rounded-full holeSize bg-orange-900 mx-3 my-5">
                    <div class="rounded-full w-full h-full relative overflow-hidden">
                        <transition name="popup"> 
                            <img v-if="isVisible" @click="moleTapped(index)" src="images/hampster-full.png" alt="hampster" class="absolute top-0 left-0 right-0 mx-auto mt-3 moleSize">
                        </transition>
                    </div>
                    <transition name="scoreTransition"> 
                        <div v-if="arrayOfScores[index]" class="absolute top-0 left-0 right-0 mx-auto -mt-6 text-gray-300 font-bold">+1 score</div>
                    </transition>
                </div>

            </div>
        </div>


        <div v-if="gameState === 'paused'">
            <h1 class='text-center text-5xl my-6'>Paused</h1>
            <p class='text-center text-2xl py-4' @click='startGame()'>Resume</p>
            <p class='text-center text-2xl py-4' @click='saveGame()'>Save Game</p>
            <p class='text-center text-2xl py-4' @click='endGame()'>Quit Game</p>
        </div>


        <div v-if="gameState === 'ended'">
            <h1 class='text-center text-5xl my-6'>Game Over</h1>
            <p class='text-center text-xl my-4'>Score: {{ score }}</p>
            <p class='text-center text-2xl py-4' @click='newGame()'>Play Again</p>
        </div>


    </div>
    <script src="./script.js"></script>
</body>
</html>