<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Whack</title>
</head>
<body>
    <div id="app">
        <div class="w-full bg-white p-2 flex justify-between">
            <p>Score: {{ score }}</p>
            <button class="bg-gray-200 py-1 px-4" @click="gameIsGoing = !gameIsGoing">
                <span v-if="gameIsGoing">Pause</span>
                <span v-else>Start</span>
            </button>
        </div>
        <div class="pt-16 bg-green-500">
            <div class="text-center">
                <div v-for="(isVisible, index) in molesVisible"  class="inline-block rounded-full h-20 w-20 bg-orange-900 relative m-4 overflow-hidden">
                    <transition name="popup"> 
                        <img v-if="isVisible" @click="moleTapped(index)" src="images/hampster-full.png" alt="hampster" width="68px" class="absolute ml-1 mt-2 top-0">
                    </transition>

                </div>
            </div>

        </div>



    </div>
    <script src="./script.js"></script>
</body>
</html>