<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Whack</title>
</head>
<body>
    <div id="app">
        <div class="w-full bg-white p-2">Score</div>
        <div class="pt-16 bg-green-500">
            <div class="text-center">
                <div v-for="(isVisible, index) in molesVisible" @click="show = !show" class="inline-block rounded-full h-20 w-20 bg-orange-900 relative m-4 overflow-hidden py-8">
                    <!-- <img src="https://media.istockphoto.com/vectors/big-hole-the-ground-illustration-ground-works-digging-of-sand-coal-vector-id1163976578?k=6&m=1163976578&s=612x612&w=0&h=bIr1Z9NfMlZuwO9ihaUoMfn67R9pUtUYPp5Dtt20-44=" alt=""> -->
                    <transition name="popup"> 
                        <img v-if="show" :class="getMoleClasses" src="images/—Pngtree—hamsters_1856398.png" alt="hampster" width="80" class="absolute -mt-2 top-0">
                    </transition>

                </div>
            </div>

        </div>



    </div>
    <script src="./script.js"></script>
</body>
</html>