.grassHeight {
  height: 80vh;
}

.holeSize {
  height: 10vw;
  width: 10vw;
}

.moleSize {
  width: 8.5vw;
}

.setScreenDimensions {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .holeSize {
    height: 24vw;
    width: 24vw;
  }
  .moleSize {
    width: 20vw;
  }
  .setScreenDimensions {
    width: 100%;
  }
  .grassHeight {
    height: calc(100vh - 3rem);
  }
}

.popup-enter-active, .popup-leave-active {
  transition: all .2s ease;
}
.popup-enter, .popup-leave-to {
  transform: translateY(90px)
}

.scoreTransition-enter-active, .scoreTransition-leave-active {
  transition: all .5s ease;
}
.scoreTransition-enter {
  opacity: 0;
  transform: translateY(90px)
}